body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image:url("download.jpeg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}

.calculator-container {
    background: transparent;
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    height: 200px;
    width: 300px;
    border: 1px solid gray;
    
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #27ae60;
}
h1{
    color: yellow;
}
label {
    font-size: 18px;
    color: #fff;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

#result {
    font-size: 20px;
    margin-top: 15px;
    color: #fff;
}
